@model YandM.Models.Customer

@{
    ViewBag.Title = "Customer";
}

<h2>Customer</h2>

<table>
    <tr>
        <td>Customer First Name</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Customer Last Name</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Customer Number</td>
        <td>@Model.CustomerNumber</td>
    </tr>
</table>