@model YandM.Models.UsersVM
@using YandM.Models

@*<table>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Customer Number</td>
    </tr>
    @foreach (Customer obj in Model.customers)
    {
        <tr>
            <td>@obj.FirstName</td>
            <td>@obj.LastName</td>
            <td>@obj.CustomerNumber</td>
        </tr>
    }
</table>*@

@{ 
    WebGrid obj = new WebGrid(Model.customers);
    
    
}

@obj.GetHtml()