@model YandM.Models.ProductsVM
@using YandM.Models
@{
    ViewBag.Title = "Welcome to Y&M pet shop";
}
<h2>Hilights</h2>
<h1>@ViewBag.str</h1>
<head>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 50px 50px;
            background-color: white;
            padding: 50px;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 0.5px solid rgba(0, 0, 0, 0.8);
            padding: 10px;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>

<div class="grid-container">
        @if (Model != null && Model.products_list != null)
        {   int i=0;
            foreach (Products x in Model.products_list)
            {   
                    <div class="grid-item">
                    <form method="post" action=@Url.Action("placeOrder","Home")>
                        <input type="hidden" name="pid" value=@x.productId> 
                        <div name="pname">@x.product_name</div>
                        <img src=@x.img_url
                             width="150" height="150">
                        <div>@x.price $</div>
                        <input id="Button1" type="submit" value="Buy Now" onclick="return confirm('do you want to place order ?')"/>
                    </form>
                    </div>
                i++; 
            }
        }
</div>

