@model YandM.Models.ProductsVM
@using YandM.Models
@{
    ViewBag.Title = "Welcome to Y&M pet shop";
}
<br/>
<h2>Hilights</h2>
<h1>@ViewBag.str</h1>
<head>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 50px 50px;
            background-color: white;
            padding: 50px;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 0.5px solid rgba(0, 0, 0, 0.8);
            padding: 10px;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>

    <div class="grid-container">
        @if (Model.products_list != null)
        {
            foreach (Products x in Model.products_list)
            {   
                <form method="post" action="placeOrder">
                    <div class="grid-item">
                        <div name="pname" value=@x.product_name>@x.product_name</div>                   
                        <img src=@x.img_url
                             width="150" height="150">
                        <div>@x.price $</div>
                        <input id="Button1" type="submit" value="Buy Now" size="50" />
                    </div>
                </form>
             }
        }
</div>

