@using YandM.Models
@{
    ViewBag.Title = "Cats";
}

<h2>Cat Products</h2>

<head>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 100px 100px;
            background-color: white;
            padding: 50px;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 50px;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>

<div class="grid-container">
    @if (ViewBag.catproducts != null)
    {
        foreach (Products x in ViewBag.catproducts)
        {
            <div class="grid-item">
                <header>@x.product_name</header>
                <img src=@x.img_url
                     width="150" height="150">
                <footer>@x.price</footer>
                <input id="button1" type="button" value="Buy It Now" />
            </div>
        }
    }
</div>

