
@{
    ViewBag.Title = "Cats";
}

<h2>Cat Products</h2>
<head>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 100px 100px;
            background-color: white;
            padding: 5px;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 50px;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>

<div class="grid-container">
    <div class="grid-item">
        <header>Product Name</header>
        <img src="https://www.budgetpetproducts.com.au/new/images/category_thumbnail/CAT_TOYS.jpg"
             width="300" height="300">
        <footer>price:50</footer>
        <input id="Button1" type="button" value="Buy It Now" />
    </div>

    <div class="grid-item">2</div>
    <div class="grid-item">3</div>
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>
</div>

