@model YandM.Models.UsersVM
@{ 
    ViewBag.title = "Login page";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<h2>New Customer</h2>

<form action="Submit" method="post">
    <table>
        <tr>
            <td>Customer First Name</td>
            <td>@Html.TextBoxFor(m => m.customer.FirstName) @Html.ValidationMessageFor(x => x.customer.FirstName)</td>
        </tr>
        <tr>
            <td>Customer Last Name</td>
            <td>@Html.TextBoxFor(m => m.customer.LastName)@Html.ValidationMessageFor(x => x.customer.LastName)</td>
        </tr>
        <tr>
            <td>Customer Number</td>
            <td>@Html.TextBoxFor(m => m.customer.CustomerNumber)@Html.ValidationMessageFor(x => x.customer.CustomerNumber)</td>
        </tr>
        <tr>
            <td colspan="2"><input id="Submit1" type="submit" value="Add Customer" /></td>
        </tr>
    </table>
    <p>
    </p>

</form>